.logincard{
    width: 300px;
    height: 320px;
    margin-top: 150px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(236, 236, 236);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-radius: 2%;
    box-shadow: 0px 40px 30px #adadad;
}
h4{
    text-align: center;
    color: rgb(109, 109, 109);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4%;
    margin-top: 4%;
}
.formbox{
    height:35px;
    width:220px;
    margin-left:38px;
    margin-right:20px;
    margin-top:15px;
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
}
.pwd{
    float: right;
    margin-top: 0px;
    margin-right: 20px;
    color:rgb(109, 109, 109);
}
.submitbtn{
    height:35px;
    width:225px;
    margin-left:38px;
    margin-right:20px;
    background-color: rgb(255, 43, 43);
    color:whitesmoke;
}
.jumbotron {
    position:relative;
    overflow:hidden;
    margin-bottom: 0%;
  }
  
  .jumbotron .container {
    position:relative;
    z-index:2;
    
    background:rgba(0,0,0,0.3);
    padding:2rem;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:3px;
  }
  
  .jumbotron-background {
    object-fit:cover;
    font-family: 'object-fit: cover;';
    position:absolute;
    top:0;
    z-index:1;
    width:100%;
    height:100%;
    opacity:0.5;
  }
  
  img.blur {
      -webkit-filter: blur(4px);
      filter: blur(4px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
  
  }
.thumbnail:hover{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
}
.caption{
    text-align: center;
    color: black;
}

 h2{
     text-align: center;
     font-family: Verdana, Geneva, sans-serif;
 }
 .modal-backdrop {
    z-index:-1;
  }
  .modal{
      z-index: 1;
      background:rgba(0,0,0,0.3);
    padding:2rem;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:3px;
  }
  .modal-backdrop.show{
      opacity: 0.5;
  }
  h3{
      font-family: Verdana, Geneva, sans-serif;
  }
.navbar{
    background:rgba(0,0,0,0.3);
}
table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  table tbody {
    display: table;
    width: 100%;
  }
  table thead {
    display: table;
    width: 100%;
  }
