.logincard{
    width: 300px;
    height: 320px;
    margin-top: 150px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(236, 236, 236);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-radius: 2%;
    box-shadow: 0px 40px 30px #adadad;
}
h4{
    text-align: center;
    color: rgb(109, 109, 109);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4%;
    margin-top: 4%;
}
.formbox{
    height:35px;
    width:220px;
    margin-left:38px;
    margin-right:20px;
    margin-top:15px;
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
}
.pwd{
    float: right;
    margin-top: 0px;
    margin-right: 20px;
    color:rgb(109, 109, 109);
}
.submitbtn{
    height:35px;
    width:225px;
    margin-left:38px;
    margin-right:20px;
    background-color: rgb(255, 43, 43);
    color:whitesmoke;
}
.jumbotron {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: center center;
    background-color: rgb(196, 252, 233);
    background-image: "scott-webb-3g3fLohPFzk-unsplash.jpg";
    background-size: cover;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .jumbotron h1 {
    font-size: 70px;
    margin-bottom: 0;
  }
.thumbnail:hover{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
}
.caption{
    text-align: center;
    color: black;
}
.carousel-inner{
     height: 60%;
     margin-bottom: 20%;
 }


 .carousel-item{
     height: 100% !important;
     width:  100% !important;
    
 }
 h2{
     text-align: center;
 }
  